[Unit]
Description=NGINX Unit a dynamic application server
Documentation=https://unit.nginx.org/
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/unit/unit.pid
EnvironmentFile=/etc/sysconfig/unit
ExecStart=/sbin/unit
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
DevicePolicy=closed
NotifyAccess=all

[Install]
WantedBy=multi-user.target
